.verse-container {
    max-width: '2em'; /* Set the desired maximum width */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 1em; 
    border:1px solid rgb(201, 201, 201);

    max-width: 40em;
    font-size: 1.8em;
    
    margin-top: 1em; 
    padding: 1.5em 10px;
  }