.verse-container {
    margin: 0 auto; /* Center the container horizontally */
    /* margin-top: 1em;  */
    border:1px solid rgb(201, 201, 201);

    /* max-width: 60em; */
    width: 65%;
    /* font-size: 1.3em; */
    
    /* padding: 1.5em; */
  }

  @media (width < 500px) {
    .verse-container {
        width: 90%;
    }
  }

  @media (width <= 1224px) {
    .verse-container {
        width: 85%;
    }
  }
