.verse-container {
    margin: 0 auto; /* Center the container horizontally */
    border-top: 1px solid rgb(201, 201, 201);;
    border-bottom: 1px solid rgb(201, 201, 201);;
    width: 77%;
    flex-grow: 1;
    /* background-color: #e9f2f5; */
  }
  
  /* .selected {
    box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.07);
  } */

  .selected.dark{
    box-shadow: 0 0 7px 7px rgba(100, 100, 255, 0.1);
    outline: 1px solid rgba(100, 100, 255, 0.2);
    background-color: #05050546;

  }

  .selected.light{
    box-shadow: 0 0 7px 7px rgba(0, 0, 255, 0.1);
    outline: 1px solid rgba(100, 100, 255, 0.15);

  }

  #expand-div {
    position: absolute;
    left: 100%
  }

  
  @media (max-width: 1224px) {
    .verse-container {
      width: 85%;
    }
  }
  
  @media (max-width: 500px) {
    .verse-container {
        width: 92%;
        line-height: 1.75;
    }

    /* make buttons less wide in mobile */
    .verse-container button {
      min-width: 50px !important;
    }
  }