@font-face {
    font-family: 'Mushaf Ligatures';
    src: local('QCF_BSML'),
         url(https://raw.githubusercontent.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-v2-woff2/QCF_BSML.woff2) format('woff2'),
         url(https://raw.githubusercontent.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-woff/QCF_BSML.woff) format('woff');
  }
  @font-face {
    font-family: 'Mushaf Page NNN';
    src: local('QCF_PNNN'),
         url(https://raw.githubusercontent.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-woff2/QCF_PNNN.woff2) format('woff2'),
         url(https://raw.githubusercontent.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-woff/QCF_PNNN.woff) format('woff');
  }

  @font-face {
    font-family: "v2";
    src: local('QCF_PNNN'),
         url(https://github.com/quran/quran.com-frontend-next/blob/master/public/fonts/quran/hafs/v2/woff2/p1.woff2) format('woff2'),
         /* url(https://raw.githubusercontent.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-woff/QCF_PNNN.woff) format('woff'); */
    
}

.verse-container {
    /* max-width: '2em'; Set the desired maximum width */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 0em; 
    /* border:1px solid rgb(201, 201, 201); */
    
  }

.verse {
    font-family: 'v2';
    /* font-size: 2em; */
    /* max-width: 40em; */
    
    /* padding: 1.5em 10px; */
  }


/* @media (width < 500px) {
    .verse {
        font-size: 1em;
    }
} */

@media (width < 1024px) {
    .verse {
        font-size: 1em
    }
}

@media (width >= 1024px) {
    .verse {
        font-size: 1.2em
    }
}