

  @font-face {
    font-family: "uthmanic";
    /* src: url(./fonts/UthmanicHafs_V22.ttf) format('truetype') */
    src: url(./fonts/UthmaniHafs.woff) format('woff')
  }


.verse-container {
    /* max-width: '2em'; Set the desired maximum width */
    margin: 0 auto;
    margin-top: 0em; 
    /* border:1px solid rgb(201, 201, 201); */
    
  }


 .blur {
    color: transparent;
    text-shadow: 0 0 18px rgba(0,0,0,0.7);
 }

.placeholder {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 3s infinite;
}

@keyframes shimmer {
    to {
        background-position: -200% 0;
    }
}

.verse {
    /* font-family: 'v1'; */
    /* letter-spacing: 0px !important;  */
  }

  @media (min-width: 1024px) {
    .verse {
        font-size: 4.5vh;
        /* min-width: 90% */
    }

    .verseText {
      margin: 15px
    }
}

/* mainly used to account for when website is opened horizontally on mobile */
@media (max-width: 1024px) {
    .verse {
      font-size: max(3.5vw, 3.5vh) ;
    }

    .verseText {
      margin: 15px
    }
}

@media (max-width: 600px) {
  .verse {
    font-size: 4vh;
  }

  .verseText {
    margin: 10px
  }

  .resultDialog {
    font-size: 2vh
  }
}