.versesHoverableGrid {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    max-width: 400px;
    width: 70vw ;
    align-content: flex-start;
    position: absolute;
    background-color: white;
    z-index: 10;
    margin-top: 0;
    top: 120%;
    left: 0;
}

.changeStatusGrid {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* height: 300px; */
    max-width: 400px;
    align-content: flex-start;
    position: absolute;
    background-color: white;
    z-index: 10;
    margin-top: 0;
    top: 105%;
    left: 0;
}