@media (max-width: 800px) {
    .mainHeader {
        font-size: 28px;
    }
  }
@media (max-width: 700px) {
    .mainHeader {
        font-size: 24px;
    }
}

@media (max-width: 630px) {
    .mainHeader {
        font-size: 23px;
    }
}

