.bottom-div {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    
    margin: auto;
    /* position: fixed; */
    left: 0;
    bottom: 5px;
    width: 100%;
}

.question-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}


.App-link {
color: #61dafb;
}



/* .dark {
background-color: #242526;
background: radial-gradient(rgb(1, 14, 23) 24.5%, rgb(19, 30, 37) 66%);

color: #e7e9ea;
} */


/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
color: rgb(255 255 255 / 76%) !important
}

.MuiAutocomplete-hasPopupIcon.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root {
color: white

} */
::-webkit-scrollbar {
width: 12px; /* Adjust as needed */
}

html, body {
scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
background-color: #a5a2a2da; /* Color of the thumb */
border-radius: 6px; /* Make it rounded */
/* height: 24px; */
min-height: 50px;
}

::-webkit-scrollbar-track {
background-color: #f2f2f2; /* Color of the track */
}

.light {
background-color: #faf5f5;
color: #333; /* Set text color to a darker shade for readability */
}
  