.bottom-bar {
    display: flex; 
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e7e0e0;
    /* color: #fff; */
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .bottom-bar button {
    /* margin: 0 10px; */
  }

  .bottom-bar volume {
    margin: auto;
    align-items: center;
  }
  
.timeline-slider {
  width: 250px
}

.volume-slider {
  width: 150px
}

@media (width < 1000px) {
  .timeline-slider {
    width: 200px
  }

  .volume-slider {
    width: 100px
  }
}

@media (width < 750px) {
  .timeline-slider {
    width: 150px
  }

  .volume-slider {
    width: 80px
  }
}